/* HTML ELEMENTS */

/* color pallet:
#eae7dc
#d8c3a5
#8e8d8a
#e98074
#e85a4f */

/* MAIN */
/* miękkie przewijanie strony podczas przeskoku z linków wewnętrznych */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #eae7dc;
    color: #000B29;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

/* REMAINING */

a {
    text-decoration: none;
}

h1 {
    font-size: 1.65rem;
    padding: 2.5rem 2.5vw 1rem;
    position: relative;
    top: 0.5em;
    right: 0;
    text-align: center;
    color:#e85a4f;
    z-index: 1;
}

h2 {
    margin-top: 0;
    margin-bottom: 2.5rem;
}

h3 {
    margin: 0;
}

img {
    margin: 0;
}

ul {
    width: 95%;
    padding: 0;
    margin: 1rem auto;
    color: #000B29;
    list-style: none;
    transition: top 0.3s;
    /* list-style-image: url('pictures/icons/petit.png'); */
}

/* IDS */

#navbar {
    z-index: 2;
    max-width: 60rem;
    padding: 0 0 2em 0;
    position: fixed;
    top: 0;
    transition: top 0.3s;
}

#header {
    min-height: fit-content;
    object-fit: cover;
    position: relative;
    padding-bottom: 2em;
    padding-left: 1.25vw;
}

#description {
    padding: 0.5rem;
    padding-bottom: 2em;
    margin: 0 auto;
    align-content: center;
    border-radius: 10px;
    background-color: #d8c3a5;
    margin-bottom: 2rem;
}

#contact {
    text-align: center;
    min-height: 30vh;
    background-color: #e85a4f;
    padding: 3rem 0;
    background-image: linear-gradient(to top,  #e85a4f 98%, #eae7dc);
}

#gallery h1 {
    position: static;
    text-align: center;
    margin: 2.5rem auto;
    background-image: none;
}

#services h2,
#services h3 {
    padding-left: 2.5vw;
}

/* CLASSES */

.container {
    max-width: 60rem;
    margin: 0 auto;
}

.contact-header {
    padding: 0;
}

.contact-data {
    color: #000B29;
}

.contact-data:hover {
    border-bottom: solid 1px #000B29;
}

.c-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-photo {
    width: 80%;
    max-height: 80vh;
    object-fit: cover;
    margin: 0 auto 3em;
    border-radius: 2%;
}

.pop-up {
    display: none;
    /* display: inline-block; */
    position: fixed;
    z-index: 3;
    /* top: 5%;
    left: 5%; */
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(234,231,220, 0.8);
}

.zoom {
    position: relative;
    margin: 5vh auto;
    max-width: 90vw;
    max-height: 80vh;
    object-fit: cover;
}

.gallery-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mobile-top {
    width: 100vw;
    height: 60vh;
    background-image: repeating-linear-gradient(45deg, rgba(142,141,138, 0.15) 1%, rgba(234,231,220, 0.2) 2%);
    position: absolute;
    top: 0;
    display: inline-block;
}

.header-img {
    width: 70vw;
    position: relative;
    left: 4vw;
    top: 4vw;
    background-color: inherit;
}

.header-img-border {
    max-width: fit-content;
    position: relative;
    left: -4vw;
    top: -4vw;
    background-color: #d8c3a5;    
}

.header-img-container {
    max-width: fit-content;
    position: relative;
    padding: 4vw 0 0 4vw;
    margin: 0 auto 2rem;
    object-fit: cover;
    line-height: 0; /* for prevent empty line on bottom of img */
}

.home-icon {
    width: 5vw;
    padding: 2.5vw;
    border-radius: 15%;
    background-color: rgb(234,231,220, .7);
    opacity: .7;
}

.home-icon:hover,
.home-icon:focus {
    opacity: 1;
}

.home-icon-container {
    display: inline-block;
    min-width: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
}

.list-img {
    padding-right: 0.5em;
}

.navbar {
    display: flex;
    justify-content: end;
    position: fixed;
    width: 100%;
}

.nav-arrow {
    display: none;
}

.nav-icon {
    width: 3rem;
    padding-right: 2.5vw;
    display: inline-block;
}

.nav-link {
    color: #464644;
    font-size: 1.5rem;
    margin: 0 2rem 0 0;
    padding: 1em;
    font-weight: 600;
    display: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.last {
    margin-right: 0;
    padding-right: 2.5vw;
    color: #e85a4f;
}

/* class for mobile expand menu */
.nav-mobile {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
    width: 60%;
    font-weight: 700;
    border-bottom: solid 1px #8e8d8a;
}

.last.nav-mobile {
    border-style: none;
    margin: inherit;
    padding-right: 0;
} 

.navbar-mobile {
    display: block;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    left: 5vw;
    z-index: 2;
    background-color: rgba(234,231,220, 0.8);
    border-radius: 20px;
}

.nav-arrow-mobile {
    width: 2.5rem;
    margin: 0 auto;
    display: block;
}

.break-line {
    width: 15vw;
    margin: 0 auto 4rem;
    border-top: dotted rgba(142,141,138,0.3) 0.5rem;
}
.break-line:hover {
    border-color: rgba(232,90,79,0.5);
}

.services {
    text-align: center;
}

.service-detal {
    margin-bottom: 2rem;
}

.service-desc {
    display: block;
    width: 60vw;
    position: relative;
    margin: 0 auto; 
    padding: 1.25rem 0;
    background-image: repeating-linear-gradient(45deg, rgba(142,141,138,0.2) 1%, rgba(234,231,220) 2%);
}

.service-desc:hover {
    background-image: repeating-linear-gradient(45deg, rgba(232,90,79,0.2) 1%, rgba(234,231,220) 2%);
}

.service-desc.reverted {
    background-image: repeating-linear-gradient(135deg, rgba(142,141,138,0.2) 1%, rgba(234,231,220) 2%);
}

.service-img.reverted {
    right: -1.25rem;
}

.service-img {
    width: 60vw;
    position: relative;
    right: 1.25rem;
    bottom: 1.25rem;
    display: inline-block;
}

.service-img-box {
    line-height: 0;
    margin: 0 auto 2.5rem;
}

.service-img-border {
    margin: 0 auto;
    max-width: fit-content;
    position: relative;
    left: 1.25rem;
    top: 1.25rem;
    background-color: rgba(142,141,138,0.6);
}

.service-img-border.reverted {
    left: -1.25rem;
}

.service-desc.reverted:hover {
    background-image: repeating-linear-gradient(135deg, rgba(232,90,79,0.2) 1%, rgba(234,231,220) 2%);
}

/* MEDIA */
/* mobile first */
@media screen and (min-width: 550px) {

    h1 {
        position: absolute;
        text-align: right;
        font-size: 2.5rem;
        top: 2em;
        padding-right: 1.25vw;
        padding-left: 1.25vw;
        background-image: repeating-linear-gradient(135deg, rgba(142,141,138, 0.15) 1%, rgba(234,231,220, 0.2) 2%);
    }

    #gallery h1 {
        margin: 4rem auto 2.5rem;
        background-image: none;
    }

    #description {
        padding: 2em;
    }

    .break-line {
        margin-bottom: 3rem;
    }
    
    .gallery-container {
        flex-direction: column;
    }

    .gallery-photo {
        width: 24%;
        margin: 0 0 2vw;
    }
    
    .header-img {
        width: 40vw;
        min-height: 40vw;
        left: 2.5vw;
        top: 2.5vw;
    }

    .header-img-border {
        max-width: fit-content;
        position: relative;
        left: -2.5vw;
        top: -2.5vw;
    }

    .header-img-container {
        width: 45vw;
        margin: 0 0 2.5rem;
        padding: 2.5vw 0 0 2rem;
    }

    .home-icon {
        width: 2vw;
        padding: 60%;
    }

    .home-icon-container {
        position: fixed;
        right: 3vw;
    }

    .mobile-top {
        display: none;
    }

    .navbar {
        justify-content: left;
    }

    .nav-icon {
        display: none;
        padding: 2vw;
    }

    .nav-link {
        display:  inline-block;
        padding-left: 1.25rem;
    }

    .nav-link.home-page {
        padding-left: 0;
    }

    .pop-up {
        top: 0;
        left: 0;
    }

    .services {
        text-align: center;
    }
    
    .service-detal {
        margin-bottom: 4rem;
        position: relative;
    }
    
    .service-desc {
        display: block;
        width: 35vw;
        position: absolute;
        left: 0;
        top: 10vw;
        margin: 0; 
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
   
    .service-img {
        width: 30vw;
        object-fit: cover;
        min-height: 30vw;
    }

    .service-img-box {
        line-height: 0;
        margin: 0;
        display: block;
        max-width: fit-content;
        position: relative;
        left: 32.5vw;
    }
    
    .service-img-border {
        margin: 0;
        max-width: fit-content;
        position: relative;
        left: 1.25rem;
        top: 1.25rem;
        background-color: rgba(142,141,138,0.6);
    }

    .service-img-box.reverted {
        left: 0;
    }

    .service-img-border.reverted {
        left: -1.25rem;
    }
    
    .service-desc.reverted {
        left: 27.5vw;
    }

    .zoom {
        max-width: 90vw;
        height: 80vh;
        object-fit: cover;
    }
}

@media screen and (min-width: 550px) and (max-width: 800px) {

    h1 {
        font-size: 2rem;
        top: 0.5em;
    }

    .home-icon {
        width: 5vw;
    }

    .gallery-photo {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 800px) {

    #gallery {
        min-width: 100vh;
    }
}

@media screen and (min-width: 1500px) {
    .header-img {
        width: 650px;
        min-height: 650px;
        max-height: 70%;
    }

    h1 {
        font-size: 2.75rem;
    }

    .home-icon {
        width: 2vw;
    }
}
